
html{
  font-family: 'Roboto mono';
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.sidebar{
  width: max-content;
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
}

.content{
  display: none;
  width: 80%;
  height: 80%;
  text-align: center;
  justify-content: center;
  margin: auto;
  background-color: #CCC;

}




#initial{
  display: flex;
}


.folder{
  width: 64px;
  height: 56px;
  display: inline;
  padding-top: 10px;
}

p{
  display: inline;
  height: 100%;
  vertical-align: middle;
  font-size: 24px;
  padding-left: 5px;
}

td{
  vertical-align: middle;
  display: flex;
  padding-top: 24px;
}
