
html{
  font-family: 'Roboto mono';
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.tabs{
  margin: auto;
  width: auto;
  height: auto;

}

.tab{
  margin: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: #cccccc;
  background-color: #eeeeee;
}

.row{
  display: flex;
}

.blink{
  display: flex;
  width: auto;
  height: auto;
}

.tlink{
  display: flex;
  width: auto;
  height: auto;
}



.tiny{

  width: 64px;
  height: 64px;
}

.tiny_blank{
  width: 64px;
  height: 64px;
  border-color: white;
  background-color: white;
}

.one_one{
  width: 140px;
  height: 140px;
}

.two_one{
  width: 292px;
  height: 140px;
}


.two_two{
  width: 292px;
  height: 292px;
}

.one_two{
  width: 140px;
  height: 292px;
}

